bin/
conf/
docs/
eclipse/.metadata
eclipse/Client/.settings/
eclipse/Client/bin/
eclipse/Client/*.*
!eclipse/Client/build.xml
eclipse/Server*/
jars/
journeymap/build/
journeymap/dist/
logs/
reobf/
runtime/
src/minecraft/argo/
src/minecraft/net/minecraft/client/
src/minecraft/net/minecraft/server/
src/minecraft/net/minecraft/src/*
!src/minecraft/net/minecraft/src/mod_JourneyMap.java
src/minecraft/org/
src/minecraft/Start.java
temp/
CHANGELOG
*.bat
*.sh
LICENSE.txt
