/CHANGELOG
/*.bat
/*.sh
/LICENSE.txt
bin/
build/
conf/
/dist/
docs/
eclipse/.metadata
eclipse/Client/.classpath
eclipse/Client/.project
eclipse/Client/.settings/
eclipse/Minecraft/.settings/
eclipse/Minecraft/bin/
eclipse/Minecraft/*.*
!eclipse/Minecraft/build.xml
eclipse/Minecraft/Server*/
eclipse/Server*/
eclipse/RemoteSystemsTempFiles/
jars/
journeymap/build/
journeymap/dist/
logs/
reobf/
runtime/
src/minecraft/*.*
src/minecraft/argo/
src/minecraft/cpw/
src/minecraft/reifnsk/
src/minecraft/paulscode/
src/minecraft/net/minecraft/client/*
src/minecraft/net/minecraft/server/*
src/minecraft/net/minecraft/src/*
!src/minecraft/net/minecraft/src/RenderFacade.java
!src/minecraft/net/minecraft/src/mod_JourneyMap.java
!src/minecraft/net/minecraft/src/mcmod.info
!src/minecraft/net/minecraft/src/license.txt
src/minecraft/net/minecraftforge/*
src/minecraft/ibxm/
src/minecraft/org/
src/minecraft/Start.java
src/minecraft_server/
temp/

